@media (prefers-color-scheme: light) {
  :root {
    --background-color: #eeeeee;
    --text-color: #242424;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #242424;
    --text-color: #eeeeee;
  }
}

* {
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  margin: 0;
  padding: 1rem;
  font-family: Arial, sans-serif;
}
